<footer class="footer bg-light d-flex">
    <div class="container__icons">
        <ul class="social__icons d-flex">
            <li class="social__item twitter d-flex justify-content-center align-items-center">
                <a href="#">
                    <div class="icon icon__twitter"></div>
                </a>
            </li>
            <li class="social__item facebook d-flex justify-content-center align-items-center">
                <a href="#">
                    <div class="icon icon__facebook"></div>
                </a>
            </li>
            <li class="social__item instagram d-flex justify-content-center align-items-center">
                <a href="#">
                    <div class="icon icon__instagram"></div>
                </a>
            </li>
        </ul>
    </div>
</footer>
